<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons&display=swap"
      rel="stylesheet" />
<script>
    import {stores} from '@sapper/app';
    import Nav from '../components/Nav.svelte';
    const {page} = stores();
</script>

<style>
    main {
        position: relative;
        padding: 2em;
        margin: 0 auto;
        box-sizing: border-box;
    }
    *{
        font-family: Roboto, sans-serif
    }
</style>
{#if $page.path !== '/login'}
    <Nav/>
{/if}
<main>
    <slot></slot>
</main>