<script>
    import {stores, goto} from '@sapper/app';
    import * as api from '../../../node_modules/api';
    import {selectedUserId} from '../../../stores.js';
    import Button from "smelte/src/components/Button";
    import YearSelector from "../../../components/YearSelector.svelte"
    import {Tabs, Tab} from "smelte/src/components/Tabs";
    import {_} from 'svelte-i18n'

    let response;

    const {session, page} = stores();
    let msg = "loading...";
    let salaries = [];
    let projects;
    let employees;
    let locked;
    let userId;
    $: userId = ($selectedUserId === 0 || $selectedUserId) ? $selectedUserId : null;
    let selectedYear = $page.query && $page.query.year ? $page.query.year : new Date().getFullYear();
    let months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
    let monthTotals = {};
    let errormsg = null;

    $: requestSalaryEmployees(selectedYear, userId)

    function requestSalaryEmployees() {
        msg = "loading...";
        api.get(`salaries/employees?year=${selectedYear}&user_id=${userId}`, $session.user && $session.user.token).then(response => {
            if (response['employees'].length === 0) {
                throw new Error(JSON.stringify({error: 'No projects found'}))
            }
            errormsg = null
            employees = response.employees
            locked = response.locked
            // Build monthTotals
            for (let employeeCode in response.employees) {
                Object.keys(response.employees[employeeCode]['projects']).forEach(projectId => {
                    monthTotals[employeeCode] = typeof monthTotals[employeeCode] === 'undefined' ? {} : monthTotals[employeeCode];
                    for (let m = 1; m <= 12; m++) {
                        if (!isNaN(parseInt(response.employees[employeeCode]['projects'][projectId][m]))) {
                            monthTotals[employeeCode][m] = typeof monthTotals[employeeCode][m] === 'undefined' ? 0 : monthTotals[employeeCode][m];
                            monthTotals[employeeCode][m] += parseInt(response.employees[employeeCode]['projects'][projectId][m]);
                        }

                    }
                });
            }

            return response
        }).catch(error => {
            errormsg = (JSON.parse(error.message).error)
        });
    }

    function lockSalaries(month, year, isLocked) {
        if ($session.user.isAdmin === "1") {
            api.post(`salaries/projects/close`, {
                month,
                year,
                isLocked
            }, $session.user && $session.user.token).then(response => {
                locked[month] = !isLocked;
                locked = locked
            });
        } else {
            alert($_('Forbidden'))
        }
    }

    let employeesText = $_('employees')
    let projectsText = $_('projects')
    $: path = $page.path;
</script>
<script context="module">
    export function preload(page, {user}) {
        if (!user) {
            this.redirect(302, `/login`);
        }
    }
</script>
<svelte:head>
    <title>Salaries projects | Intranet</title>
</svelte:head>
<style>
    td, th {
        font-size: 11px;
    }

    div {
        z-index: 0 !important;
    }

    .yellow {
        color: #efd133
    }
</style>
<YearSelector onYearSelect={function(year){
    selectedYear = year ? year : new Date().getFullYear();
    goto('salaries/employees?year='+selectedYear);
}}/>
<br>

<Tabs class="bg-primary-800 w-auto text-white" selected="2" let:selected={selected}
      items={[{id:"1", text:projectsText, to:'/salaries/projects'},{id:"2", text:employeesText, to:'/salaries/employees'}]}>
    <div slot="content">
        <Tab id="1" href="/salaries/projects" {selected}>
        </Tab>
        <Tab id="2" href="/salaries/employees" {selected}>
            <table class="text-left no-wrap">
                {#if typeof locked != 'undefined'}
                    <thead class="bg-primary-800 text-white">
                    <tr>
                        <th class="border p-1"></th>
                        {#each months as month}
                            {#if locked[month]}
                                <th class="border p-1  yellow" on:click={lockSalaries(month, selectedYear, true)}>
                                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                         fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                </th>
                            {:else}
                                <th class="border p-1" on:click={lockSalaries(month, selectedYear, false)}>
                                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                         fill="currentColor">
                                        <path d="M10 2a5 5 0 00-5 5v2a2 2 0 00-2 2v5a2 2 0 002 2h10a2 2 0 002-2v-5a2 2 0 00-2-2H7V7a3 3 0 015.905-.75 1 1 0 001.937-.5A5.002 5.002 0 0010 2z"/>
                                    </svg>
                                </th>
                            {/if}
                        {/each}
                    </tr>
                    </thead>
                {/if}
                <thead class="bg-primary-800 text-white">
                <tr>
                    <th class="border p-1">{$_('employeeName')}</th>
                    <th class="border p-1">{$_('months.Jan')}</th>
                    <th class="border p-1">{$_('months.Feb')}</th>
                    <th class="border p-1">{$_('months.Mar')}</th>
                    <th class="border p-1">{$_('months.Apr')}</th>
                    <th class="border p-1">{$_('months.May')}</th>
                    <th class="border p-1">{$_('months.Jun')}</th>
                    <th class="border p-1">{$_('months.Jul')}</th>
                    <th class="border p-1">{$_('months.Aug')}</th>
                    <th class="border p-1">{$_('months.Sep')}</th>
                    <th class="border p-1">{$_('months.Oct')}</th>
                    <th class="border p-1">{$_('months.Nov')}</th>
                    <th class="border p-1">{$_('months.Dec')}</th>
                </tr>
                </thead>
                {#if errormsg}
                    <p style="color: red">{errormsg}</p>
                {:else}
                    {#if typeof employees != 'undefined'}
                        {#each Object.entries(employees) as [employeeCode, employee]}
                            <tr>
                                <td class="border p-1 bg-gray-200 font-bold">{employee.employeeName}</td>
                                {#each months as month}
                                    <td class="border p-1 bg-gray-200 text-right font-bold">{typeof monthTotals[employeeCode][month] !== 'undefined' ? monthTotals[employeeCode][month] : ''}</td>
                                {/each}
                            </tr>
                            {#each Object.entries(employee.projects) as [projectId, project]}
                                {#if project["salary"]}
                                    <tr>
                                        <td class="border p-1 text-gray-500">{project.projectName}</td>
                                        {#each months as month}
                                            <td class="border p-1 text-right text-gray-500">{!isNaN(project["salary"][month]) && project["salary"][month] !== null ? project["salary"][month] : ''}</td>
                                        {/each}
                                    </tr>
                                {/if}
                                {#if project["additional"]}
                                    <tr>
                                        <td class="border p-1 text-gray-500">{project.projectName}
                                            ({$_('additionalPayments')})
                                        </td>
                                        {#each months as month}
                                            <td class="border p-1 text-right text-gray-500">{!isNaN(project["additional"][month]) && project["additional"][month] !== null ? project["additional"][month] : ''}</td>
                                        {/each}
                                    </tr>
                                {/if}
                            {/each}
                        {/each}
                    {/if}
                {/if}
            </table>
        </Tab>
    </div>
</Tabs>
