<style>
    .summary td:nth-child(1) > strong {
        text-transform: capitalize
    }

    td, th {
        font-size: 11px;
    }
</style>
<script context="module">
    export function preload(page, {user}) {
        if (!user) {
            this.redirect(302, `/login`);
        }
    }
</script>
<script>
    import {stores} from '@sapper/app';
    import * as api from '../../../node_modules/api';
    import {selectedUserId} from '../../../stores.js';
    import {_} from 'svelte-i18n'

    let project;
    const {session, page} = stores();

    let year = $page.query && $page.query.year ? $page.query.year : new Date().getFullYear();
    let projectId = $page.params.id;
    let msg = "";
    let userId = ($selectedUserId === 0 || $selectedUserId) ? $selectedUserId : null;
    $: userId = ($selectedUserId === 0 || $selectedUserId) ? $selectedUserId : null;
    let promise;
    $: if (userId) {
        promise = loadProject(userId);
    }

    async function loadProject(userId) {
        const res = await api.get(`projects/${projectId}?user=${userId}&year=${year}`, $session.user && $session.user.token).then(response => {
            try {
                if (response && !response["error"] && response['project']) {
                    return response['project'];
                } else if (response["error"]) {
                    msg = "Error: " + response["error"];
                    throw new Error(msg);
                } else {
                    msg = "Project transactions not found";
                    throw new Error(msg);
                }
            } catch (msg) {
                throw new Error(msg)
            }
        });
        return res;
    }

    let round = function (value) {
        return Math.round(value * 100) / 100
    };

    let percentage = function (type, sum_month, sum) {
        if (!type && !sum_month && !sum) {
            return '';
        }

        let value = sum ? sum_month / sum * 100 : type === 'revenue' && sum_month ? 100 : 0;
        let type_value = (type === "margins" || type === "totals" || !RegExp("expense").test(type)) && sum_month < 0 ? -1 : 1;
        type_value = (type === "expenses") ? 1 : type_value;
        return type_value * Math.abs(round(value))
    };

</script>
<svelte:head>
    {#await promise}
        <title>Loading project ... | Intranet</title>
    {:then project}
        {#if "projectName" in project}
            <title>{project["projectName"]} | Intranet</title>
        {:else}
            <title>No transactions | Intranet</title>
        {/if}
    {:catch error}
        <p style="color: red">{error.message}</p>
    {/await}
</svelte:head>

{#await promise}
    <p>{$_('loading')}...</p>
{:then project}
    {#if "projectName" in project && "year" in project}
        <h5 class="p-1">{project["projectName"]} - {project["year"]}</h5>
    {:else}
        <h5 class="p-1">""</h5>
    {/if}
    <table class="table shadow">
        <thead class="bg-primary-800 text-white">
        <tr>
            <th class="border p-1">{$_('account')}</th>
            <th class="border p-1">{$_('description')}</th>
            <th class="border p-1" colspan="2">{$_('months.Jan')}</th>
            <th class="border p-1" colspan="2">{$_('months.Feb')}</th>
            <th class="border p-1" colspan="2">{$_('months.Mar')}</th>
            <th class="border p-1" colspan="2">{$_('months.Apr')}</th>
            <th class="border p-1" colspan="2">{$_('months.May')}</th>
            <th class="border p-1" colspan="2">{$_('months.Jun')}</th>
            <th class="border p-1" colspan="2">{$_('months.Jul')}</th>
            <th class="border p-1" colspan="2">{$_('months.Aug')}</th>
            <th class="border p-1" colspan="2">{$_('months.Sep')}</th>
            <th class="border p-1" colspan="2">{$_('months.Oct')}</th>
            <th class="border p-1" colspan="2">{$_('months.Nov')}</th>
            <th class="border p-1" colspan="2">{$_('months.Dec')}</th>
            <th class="border p-1" colspan="2">{$_('total')}</th>

        </tr>
        </thead>
        <tbody>
        {#if project && "accountGroups" in project }
            {#each Object.keys(project["accountGroups"]) as accountGroupName}
                {#if "accounts" in project["accountGroups"][accountGroupName]}
                    {#each project["accountGroups"][accountGroupName]["accounts"] as account,i}
                        <tr id="{i}">
                            <td class="border p-1">{#if "accountCode" in account}{account["accountCode"]}{/if}</td>
                            <td class="border p-1">{#if "accountName" in account}{account["accountName"]}{/if}</td>
                            {#if "accountMonthSums" in account}
                                {#each  Object.keys(account["accountMonthSums"]) as month,i }
                                    {#if month in account["accountMonthSums"] && "c"+(i+1) in account["transactionCounts"] && (parseFloat(account["accountMonthSums"][month]) !== 0.00 || parseInt(account["transactionCounts"]["c"+(i+1)]) !== 0) }
                                        <td class="border p-1 text-right">
                                            {#if "accountCode" in account && month in account["accountMonthSums"]}
                                                <a class="text-primary-800 m-0 p-0 border-0 align-top"
                                                   href="projects/{projectId}/transactions/{account.accountCode}?year={year}&month={i+1}">{round(account["accountMonthSums"][month])}</a>
                                            {/if}
                                        </td>
                                        <td class="border p-1 text-gray-400 text-right">
                                            {#if month in account["accountMonthSums"]}
                                                {percentage(accountGroupName,account.accountMonthSums[month],
                                                "revenue" in project["accountGroups"]&& "accountMonthSums" in project["accountGroups"]["revenue"]?project["accountGroups"]["revenue"]["accountMonthSums"][month]:0)}
                                            {/if}
                                        </td>

                                    {:else}

                                        <td class="border p-1 text-right">0</td>
                                        <td class="border p-1 text-gray-400 text-right">0</td>
                                    {/if}
                                {/each}
                            {:else}
                                <td colspan="12" class="h-4 border"></td>
                            {/if}
                            <td class="border p-1 text-right">
                                {#if "totalSum" in account}
                                    {round(account.totalSum)}
                                {/if}
                            </td>
                            <td class="border p-1 text-gray-400 text-right">
                                {#if "totalSum" in account}
                                    {percentage(accountGroupName,account["totalSum"],"revenue" in project["accountGroups"] && "totalSum" in project["accountGroups"]["revenue"] ? project["accountGroups"]["revenue"]["totalSum"]:0)}
                                {/if}
                            </td>
                        </tr>
                    {/each}
                {/if}
                <tr class="summary">
                    <td class="border p-1" colspan="2"><strong>{$_(accountGroupName)}</strong></td>
                    {#each  Object.keys(project["accountGroups"][accountGroupName]["accountMonthSums"]) as month,i }
                        <td class="border p-1 text-right">
                            {#if month in project["accountGroups"][accountGroupName]["accountMonthSums"]}
                                {round(project["accountGroups"][accountGroupName]["accountMonthSums"][month])}
                            {/if} </td>
                        <td class="border p-1 text-gray-400 text-right">
                            {#if month in project["accountGroups"][accountGroupName]["accountMonthSums"] }
                                {percentage(accountGroupName,project["accountGroups"][accountGroupName]["accountMonthSums"][month],"revenue" in project["accountGroups"] &&"accountMonthSums" in project["accountGroups"]["revenue"] ?project["accountGroups"]["revenue"]["accountMonthSums"][month]:0)}
                            {/if}
                        </td>
                    {/each}
                    <td class="border p-1 text-right">
                        {#if "totalSum" in project["accountGroups"][accountGroupName]}
                            {round(project["accountGroups"][accountGroupName]["totalSum"])}
                        {/if}
                    </td>
                    <td class="border p-1 text-gray-400 text-right">
                        {#if "totalSum" in project["accountGroups"][accountGroupName]}
                            {percentage(accountGroupName,project["accountGroups"][accountGroupName]["totalSum"],"revenue" in project["accountGroups"]&&"totalSum" in project["accountGroups"]["revenue"]?project["accountGroups"]["revenue"]["totalSum"]:0)}
                        {/if}
                    </td>
                </tr>
                {#if accountGroupName !== 'revenue'}
                    <tr class="summary">
                        <td class="border p-1" colspan="2"><strong>{$_(accountGroupName)} {$_('margin')}</strong></td>
                        {#if accountGroupName in project["margins"] &&"accountMonthSums" in project["margins"][accountGroupName] }
                            {#each Object.keys(project["margins"][accountGroupName]["accountMonthSums"]) as month }
                                <td class="border p-1 text-right">
                                    {#if month in project["margins"][accountGroupName]["accountMonthSums"]}
                                        {round(project["margins"][accountGroupName]["accountMonthSums"][month])}
                                    {/if}
                                </td>
                                <td class="border p-1 text-gray-400 text-right">
                                    {#if month in project["margins"][accountGroupName]["accountMonthSums"]}
                                        {percentage("margins",project["margins"][accountGroupName]["accountMonthSums"][month],"revenue" in project["accountGroups"]&&"accountMonthSums" in project["accountGroups"]["revenue"]?project["accountGroups"]["revenue"]["accountMonthSums"][month]:0)}
                                    {/if}
                                </td>
                            {/each}
                        {:else}
                            <td colspan="24" class="h-4 border"></td>
                        {/if}
                        <td class="border p-1 text-right">
                            {#if accountGroupName in project["margins"] && "totalSum" in project["margins"][accountGroupName]}
                                {round(project["margins"][accountGroupName]["totalSum"])}
                            {/if}
                        </td>
                        <td class="border p-1 text-gray-400 text-right">
                            {#if accountGroupName in project["margins"] && "totalSum" in project["margins"][accountGroupName]}
                                {percentage("margins",project["margins"][accountGroupName]["totalSum"],"revenue" in project["accountGroups"]&& "totalSum" in project["accountGroups"]["revenue"]?project["accountGroups"]["revenue"]["totalSum"]:0)}
                            {/if}
                        </td>
                    </tr>
                {/if}
                <tr>
                    <td colspan="28" class="h-4 border"></td>
                </tr>
            {/each}
        {/if}

        </tbody>
        <tfoot>
        {#if project && "accountGroups" in project && "revenue" in project["accountGroups"]}
            <tr>
                <td class="border p-1" colspan="2">{$_('income')}</td>
                {#if "accountMonthSums" in project["accountGroups"]["revenue"]}
                    {#each  Object.keys(project["accountGroups"]["revenue"]["accountMonthSums"]) as month,i }
                        <td class="border p-1 text-right">
                            {#if month in project["accountGroups"]["revenue"]["accountMonthSums"]}
                                {round(project["accountGroups"]["revenue"]["accountMonthSums"][month])}
                            {/if}
                        </td>
                        <td class="border p-1 text-gray-400 text-right">
                            {#if month in project["accountGroups"]["revenue"]["accountMonthSums"]}
                                {percentage("incomes",project["accountGroups"]["revenue"]["accountMonthSums"][month],project["accountGroups"]["revenue"]["accountMonthSums"][month])}
                            {/if}
                        </td>
                    {/each}
                {:else}
                    <td colspan="24" class="h-4 border"></td>
                {/if}
                <td class="border p-1 text-right">
                    {#if "totalSum" in project["accountGroups"]["revenue"]}
                        {round(project["accountGroups"]["revenue"]["totalSum"])}
                    {/if}
                </td>

                <td class="border p-1 text-gray-400 text-right">
                    {#if "totalSum" in project["accountGroups"]["revenue"]}
                        {percentage("incomes",project["accountGroups"]["revenue"]["totalSum"],project["accountGroups"]["revenue"]["totalSum"])}
                    {/if}
                </td>
            </tr>
        {/if}
        {#if project && "expenses" in project}
            <tr>
                <td class="border p-1" colspan="2">{$_('expenses')}</td>

                {#if "accountMonthSums" in project["expenses"]}
                    {#each Object.keys(project["expenses"]["accountMonthSums"]) as month,i }
                        <td class="border p-1 text-right">
                            {#if month in project["expenses"]["accountMonthSums"]}
                                {round(project["expenses"]["accountMonthSums"][month])}
                            {/if}
                        </td>
                        <td class="border p-1 text-gray-400 text-right">
                            {#if month in project["expenses"]["accountMonthSums"]}
                                {percentage("expenses",project["expenses"]["accountMonthSums"][month],"revenue" in project["accountGroups"] &&"accountMonthSums" in project["accountGroups"]["revenue"] && month in project["accountGroups"]["revenue"]["accountMonthSums"]?project["accountGroups"]["revenue"]["accountMonthSums"][month]:0)}
                            {/if}
                        </td>
                    {/each}
                {:else}
                    <td colspan="24" class="h-4 border"></td>
                {/if}
                <td class="border p-1 text-right">
                    {#if "totalSum" in project["expenses"]}
                        {round(project["expenses"]["totalSum"])}
                    {/if}
                </td>
                <td class="border p-1 text-gray-400 text-right">
                    {#if "totalSum" in project["expenses"]}
                        {percentage("expenses",project["expenses"]["totalSum"],"revenue" in project["accountGroups"]&&"totalSum" in project["accountGroups"]["revenue"]?project["accountGroups"]["revenue"]["totalSum"]:0)}
                    {/if}
                </td>
            </tr>
        {/if}
        {#if project && "totals" in project}
            <tr >
                <td class="border p-1" colspan="2">{$_('totals')}</td>
                {#if "accountMonthSums" in project["totals"] }
                    {#each  Object.keys(project["totals"]["accountMonthSums"]) as month,i }
                        <td class="border {project['totals']['accountMonthSums'][month] < 0 ? 'text-error-800' : ''} p-1 text-right">
                            {#if month in project["totals"]["accountMonthSums"]}
                                {round(project["totals"]["accountMonthSums"][month])}
                            {/if}
                        </td>
                        <td class="border p-1 text-gray-400 text-right">
                            {#if month in project["totals"]["accountMonthSums"]}
                                {percentage("totals",project["totals"]["accountMonthSums"][month],"revenue" in project["accountGroups"]&& "accountMonthSums" in project["accountGroups"]["revenue"] && month in project["accountGroups"]["revenue"]["accountMonthSums"] ?project["accountGroups"]["revenue"]["accountMonthSums"][month]:0)}
                            {/if}
                        </td>
                    {/each}
                {:else}
                    <td colspan="24" class="h-4 border"></td>
                {/if}
                <td class="border p-1 text-right"><strong>
                    {#if "totalSum" in project["totals"]}
                        {round(project["totals"]["totalSum"])}
                    {/if}
                </strong></td>
                <td class="border p-1 text-gray-400 text-right">
                    <span>
                        {#if "totalSum" in project["totals"]}
                            {percentage("totals",project["totals"]["totalSum"],"revenue" in project["accountGroups"]&&"totalSum" in project["accountGroups"]["revenue"]?project["accountGroups"]["revenue"]["totalSum"]:0)}
                            %
                        {/if}
                        </span>
                </td>
            </tr>
        {/if}
        </tfoot>
    </table>
{:catch error}
    <p style="color: red">{error.message}</p>
{/await}
