<script>
    import {stores} from '@sapper/app';
    import * as api from '../../../../node_modules/api';
    import {_} from 'svelte-i18n'

    const {session, page} = stores();

    let year = $page.query && $page.query.year ? $page.query.year : new Date().getFullYear();
    const {id, accountCode} = $page.params;
    const month = $page.query.month;
    export let msg = "";

    let promise = loadTransactions();
    async function loadTransactions() {
        const res = await api.get(`projects/${id}/transactions/${accountCode}?year=${year}&month=${month}`, $session.user && $session.user.token).then(response => {
            try {
                if (response && !response["error"] && response['transactions']) {
                    return response;
                } else {
                    msg = "Error: " + response["error"];
                }
            } catch(msg) {
                throw new Error(msg);
            }
        });
        return res;
    }

    function formatMonth() {
        if (month < 10) {
            return "0" + month
        } else {
            return month
        }
    }

    let round = function (value) {
        return Math.round(value * 100) / 100
    };
</script>
<script context="module">
    export function preload(page, {user}) {
        if (!user) {
            this.redirect(302, `/login`);
        }
    }
</script>
<style>
    td, th {
        font-size: 11px;
    }


</style>
{#await promise}
    <p>{$_('loading')}...</p>
{:then transactions}
    <h5 class="p-3">{transactions["project"]["projectName"]}, {year}-{formatMonth()},
        {accountCode}</h5>
    <table class="text-left border shadow">
        <thead>
        <tr class="border-0">
            <th class="p-1 border">#</th>
            <th class="p-1 border">{$_('date')}</th>
            <th class="p-1 border">{$_('company')}</th>
            <th class="p-1 border">{$_('docNo')}</th>
            <th class="p-1 border">{$_('foremanName')}</th>
            <th class="p-1 border">{$_('rowSum')}</th>
            <th class="p-1 border">{$_('documentSum')}</th>
        </tr>
        </thead>
        <tbody>
        {#each transactions["transactions"] as transaction,i }
            <tr class="border-0">
                <td class="p-1 border">{i+1}</td>
                <td class="p-1 border">{transaction.documentDate}</td>
                <td class="p-1 border">{transaction.companyName}</td>
                <td class="p-1 border">{transaction.documentNumber}</td>
                <td class="p-1 border">{transaction.foremanName}</td>
                <td class="p-1 border">{transaction.amountBase}€</td>
                <td class="p-1 border">{transaction.totalAmount}€</td>
            </tr>
        {/each}
        </tbody>
        <tfoot>
        <tr class="w-full border-0">
            <td class="p-1 border" colspan="5"></td>
            <td class="p-1 border">{round(transactions["totalSums"]["amountBase"])}€</td>
            <td class="p-1 border">{round(transactions["totalSums"]["totalAmount"])}€</td>
        </tr>
        </tfoot>
    </table>
{:catch error}
    <p style="color: red">{error.message}</p>
{/await}