<script context="module">
    export function preload(page, {user}) {
        if (!user) {
            this.redirect(302, `/login`);
        }
    }
</script>
<script>
    import {stores, goto} from '@sapper/app';
    import * as api from '../../node_modules/api';
    import {selectedUserId} from '../../stores.js';
    import YearSelector from '../../components/YearSelector.svelte';
    import {_} from 'svelte-i18n'

    const {session, page} = stores();
    let msg = "loading...";
    let projects = [];
    let selectUserId = ($selectedUserId === 0 || $selectedUserId) ? $selectedUserId : null;
    $: selectUserId = ($selectedUserId === 0 || $selectedUserId) ? $selectedUserId : null;
    let total = 0.0;
    let promise;
    let year = $page.query && $page.query.year ? $page.query.year : new Date().getFullYear();
    $: if (selectUserId) {
        promise = requestProjects(selectUserId, year);
    }
    async function requestProjects(selectUserId, year) {
        msg = "loading...";
        return await api.get(`projects/?user=${selectUserId}&year=${year}`, $session.user && $session.user.token).then(response => {
            if (response['projects'].length === 0){
                throw new Error(JSON.stringify({error :'No projects found'}))
            }
            total = 0;
            projects = response['projects'];
            for (let i in projects) {
                total += parseFloat(projects[i]["profit"]);
            }
            return projects
        }).catch(error => {
            throw new Error(JSON.parse(error.message).error)
        });
    }

    $:selectedYear = $page.query && $page.query.year ? $page.query.year : new Date().getFullYear();
</script>
<style>

    th:first-child, td:first-child {
        border-right-width: 0;
        border-color: #e0e0e0;
    }

    td, th {
        font-size: 11px;
    }
</style>
<svelte:head>
    <title>Project | Intranet</title>
</svelte:head>

<h5 class="p-3">{$_('projects')}</h5>
<YearSelector onYearSelect={function(year){
    selectedYear = year;
    promise = requestProjects(selectUserId, year);
    goto('projects?user=' + selectUserId + '&year=' + year);
}}/>
<br>
{#await promise}
    <p>{$_('loading')}</p>
{:then projects}
    <table class="text-left border shadow">
        <thead class="bg-primary-800 text-white">
        <tr>
            <th class="p-1 border">#</th>
            <th class="p-1 border">{$_('foremanName')}</th>
            <th class="p-1 border">{$_('budget')}</th>
            <th class="p-1 border">{$_('Finar')}</th>
            <th class="p-1 border">{$_('profit')}</th>
        </tr>
        </thead>
        <tbody>
        {#each projects as project,i}
            <tr>
                <td class="p-1 border">{i+1}</td>
                <td class="p-1 border">{project["foremanName"]}</td>
                <td class="p-1 border">
                    <a class="text-primary-800"
                       href="projects/{project['projectId']}/budget?year={selectedYear}"> {project["projectName"]}</a>
                </td>
                <td class="p-1 border">
                    <a class="text-primary-800"
                       href="projects/{project['projectId']}?year={selectedYear}"> {project["projectName"]}</a>
                </td>
                <td class="p-1 border text-right {project['profit'] < 0 ? 'text-error-800' : ''}">{project["profit"]}</td>
            </tr>
        {/each}

        </tbody>
        {#if total>0}
            <tfoot>
            <tr>
                <td class="p-1 border" colspan="3"></td>
                <td class="p-1 border">{$_('total')}</td>
                <td class="p-1 border text-right">{parseFloat(total).toFixed(2)}</td>
            </tr>
            </tfoot>
        {/if}
    </table>
{:catch error}
    {#if typeof error !== "undefined" && error.message === "No projects found"}
        <p>{$_(error.message)}</p>
    {:else}
        <p style="color: red">{$_(error)}</p>
    {/if}
{/await}