<script>
    import {stores, goto} from '@sapper/app';
    import * as api from '../../node_modules/api';
    import {selectedUserId} from '../../stores.js';
    import {_} from 'svelte-i18n'

    const {session, page} = stores();
    let msg = "loading...";
    let assets = [];
    let promise;
    let userId = ($selectedUserId === 0 || $selectedUserId) ? $selectedUserId : null;
    $: userId = ($selectedUserId === 0 || $selectedUserId) ? $selectedUserId : null;
    $: if (userId) {
        promise = requestAssets(userId);
    }

    async function requestAssets(userId) {

        msg = "loading...";
        const res = await api.get(`assets?user=${userId}`, $session.user && $session.user.token).then(response => {
            if (response['assets'].length === 0) {
                throw new Error(JSON.stringify({error: 'No assets found'}))
            }
            return response['assets']
        }).catch(error => {
            throw new Error($_(JSON.parse(error.message).error))
        });
        return res;
    }
</script>
<script context="module">
    export function preload(page, {user}) {
        if (!user) {
            this.redirect(302, `/login`);
        }
    }
</script>
<style>
    td, th {
        font-size: 11px;
    }
</style>
<h5 class="p-3">{$_('fixedAssets')}</h5>
{#await promise}
    <p>{$_('loading')}...</p>
{:then assets}
    <table class="text-left border shadow">
        <thead class="bg-primary-800 text-white">
        <tr>
            <th class="p-1 border">{$_('employeeName')}</th>
            <th class="p-1 border">{$_('projectName')}</th>
            <th class="p-1 border">{$_('projectCode')}</th>
            <th class="p-1 border">{$_('assetCode')}</th>
            <th class="p-1 border">{$_('assetName')}</th>
            <th class="p-1 border">{$_('accountCode')}</th>
            <th class="p-1 border">{$_('depreciationRate')}</th>
            <th class="p-1 border">{$_('chargeTo')}</th>
            <th class="p-1 border">{$_('docDate')}</th>
            <th class="p-1 border">{$_('quantity')}</th>
            <th class="p-1 border">{$_('basicCostBase')}</th>
            <th class="p-1 border">{$_('total')}</th>
            <th class="p-1 border">{$_('amountYearBase')}</th>
            <th class="p-1 border">{$_('amountMonthBase')}</th>
        </tr>
        </thead>
        {#each assets as asset,i}
            <tr>
                <td class="p-1 border text-right">{asset["employee"]} {asset["employeeCode"]}</td>
                <td class="p-1 border">{asset["projectName"]}</td>
                <td class="p-1 border text-right">{asset["projectCode"]}</td>
                <td class="p-1 border text-right">{asset["assetCode"]}</td>
                <td class="p-1 border">{asset["assetName"]}</td>
                <td class="p-1 border text-right">{asset["accountCode"]}</td>
                <td class="p-1 border text-right">{asset["depreciationRate"]}</td>
                <td class="p-1 border text-right">{asset["chargeTo"]}</td>
                <td class="p-1 border text-right">{asset["docDate"]}</td>
                <td class="p-1 border text-right">{asset["quantity"]}</td>
                <td class="p-1 border text-right">{asset["basicCostBase"]}</td>
                <td class="p-1 border text-right">{asset["amount"]}</td>
                <td class="p-1 border text-right">{asset["amountYearBase"]}</td>
                <td class="p-1 border text-right">{asset["amountMonthBase"]}</td>
            </tr>
        {/each}

    </table>
{:catch error}
    <p class="p-3" style="color: red">{error.message}</p>
{/await}