<script>
    import {stores, goto} from '@sapper/app';
    import * as api from '../../../../node_modules/api';
    import {selectedUserId} from '../../../../stores.js';
    import EmployeeSelector from "../../../../components/EmployeeSelector.svelte";
    import MonthSelector from "../../../../components/MonthSelector.svelte";
    import {_} from 'svelte-i18n'

    const {session, page} = stores();
    let msg = "loading...";
    let projectId = $page.params.projectId;
    let userId = ($selectedUserId === 0 || $selectedUserId) ? $selectedUserId : null;
    let promise = requestProject(projectId);
    let days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
    let salaryFund;
    let project;
    let projectSalaryFundId;
    let lastSelectedMonth;
    let newSalaryFund = {};
    let salaryFundLength;
    let endLastSelectedMonth;
    $: endLastSelectedMonth = typeof newSalaryFund.startDate !== 'undefined'? newSalaryFund.startDate : lastSelectedMonth;
    getLast(projectId);

    async function requestProject(projectId) {
        msg = "loading...";
        return await api.get(`salaries/projects/${projectId}/edit`, $session.user && $session.user.token).then(response => {
            project = response
            salaryFundLength = project.salaryFunds.length-1;
            return response
        });
    }

    function getLast(projectId) {
        api.get(`salaries/projects/month?id=${projectId}`, $session.user && $session.user.token).then(response => {
            let newMonth = +response.endDate.slice(5, 7) + 1
            let year = newMonth === 13 ? +response.endDate.slice(0, 4) + 1 : response.endDate.slice(0, 4)
            newMonth = newMonth === 13 ? 1 : newMonth;
            lastSelectedMonth = newMonth > 9 ? year + "-" + newMonth : year + "-0" + newMonth;
        }).catch(error => {
            lastSelectedMonth = ''
        });
    }

    function updateProjectSalaryFunds(event, target) {
        newSalaryFund = Object.assign({}, newSalaryFund, {
            [target]: event.detail.selectedMonth.value
        })
    }

    function updateProjectSalary(event) {
        newSalaryFund = Object.assign({}, newSalaryFund, {
            [event.target.id]: event.target.textContent
        })
    }

    function updateProjectDays(event) {
        updateProject({workDays: project[event.target.id]}, event.target)
    }

    function updateProjectEmployee(event) {
        updateProject({employeeId: event.detail.selectedUser.employeeId})
    }

    async function updateSalaryProject() {
        api.post(`salaries/projects/${projectId}/salary`, newSalaryFund, $session.user && $session.user.token).then(response => {
            newSalaryFund = Object.assign({}, newSalaryFund, {
                projectSalaryFundId: response
            })
            project.salaryFunds.push(newSalaryFund)
            let newMonth = +newSalaryFund.endDate.slice(5, 7) + 1
            let year = newMonth === 13 ? +newSalaryFund.endDate.slice(0, 4) + 1 : newSalaryFund.endDate.slice(0, 4)
            newMonth = newMonth === 13 ? 1 : newMonth;
            lastSelectedMonth = newMonth > 9 ? year + "-" + newMonth : year + "-0" + newMonth;
            project = project
        }).catch(error => {
            alert($_(JSON.parse(error.message).error));
        })
    }

    function removeSalary(i) {
        let projectSalaryFundId = project.salaryFunds[i]["projectSalaryFundId"]
        delete project.salaryFunds[i]
        project.salaryFunds = project.salaryFunds.filter(val => val)
        if (typeof project.salaryFunds[i - 1] !== 'undefined') {
            let newMonth = +project.salaryFunds[i - 1]["endDate"].slice(5, 7) + 1
            let year = newMonth === 13 ? +project.salaryFunds[i - 1]["endDate"].slice(0, 4) + 1 : project.salaryFunds[i - 1]["endDate"].slice(0, 4)
            newMonth = newMonth === 13 ? 1 : newMonth;
            lastSelectedMonth = newMonth > 9 ? year + "-" + newMonth : year + "-0" + newMonth;
            lastSelectedMonth = project.salaryFunds[i - 1]["endDate"];
        } else {
            endLastSelectedMonth = '';
            lastSelectedMonth = '';
        }
        api.del(`salaries/projects/${projectId}/salary/${projectSalaryFundId}`, $session.user && $session.user.token)
    }

    function updateProject(data, event) {
        api.post(`salaries/projects/${projectId}/edit`, data, $session.user && $session.user.token).catch(error => {

            // Uncheck the checkbox
            event.checked = !event.checked
            alert($_(JSON.parse(error.message).error));
        })
    }

    function preventNaN() {
        if (isNaN(String.fromCharCode(event.which))) event.preventDefault();
    }
</script>
<script context="module">
    export function preload(page, {user}) {
        if (!user) {
            this.redirect(302, `/login`);
        }
    }
</script>
<svelte:head>
    <title>Edit Project | Intranet</title>
</svelte:head>
<style>
    td, th {
        font-size: 11px;
    }

    td {
        text-align: right;
    }

    th {
        text-align: center
    }

    .text-left {
        text-align: left !important;
    }

    .text-center {
        text-align: center !important;
    }

    #salaryFunds td:nth-child(1), #salaryFunds td:nth-child(2) {
        width: 105px;
    }
</style>
<table class="text-left no-wrap">
    {#await promise}
        <p>{$_('loading')}...</p>
    {:then response}
        <tr>
            <th class="bg-primary-800 text-left text-white p-1 border">{$_('projectName')}</th>
            <td class="border p-1">{response.projectName} ({response.projectCode})</td>
        </tr>
        <tr>
            <th class="bg-primary-800 text-left text-white p-1 border">{$_('foremanName')}</th>
            <td class="border p-1">{response.currentForeman.foremanName}</td>
        </tr>
        <tr>
            <th class="bg-primary-800 text-left text-white p-1 border">{$_('employeeName')}</th>
            <td class="border p-1">
                <EmployeeSelector selectedUser={{employeeId:response.employeeId, name:response.employeeName}}
                                  on:select={updateProjectEmployee}/>
            </td>
        </tr>
        <tr class="h-4"></tr>
        <tr>
            <th class="bg-primary-800 text-white text-center border-l-4 border-r-4 border-transparent"
                colspan="2">{$_('workDays')}</th>
        </tr>
        <tr>
            <td colspan="2">
                <table class="w-full">
                    <tr>
                        {#each days as day, i}
                            <th class="text-center bg-primary-800 text-white border p-1">{$_('weekdays.' + days[i + 1 < 7 ? i + 1 : 0])}</th>
                        {/each}
                    </tr>
                    <tr>
                        {#each days as day, i}
                            <td class="text-center border">
                                <input id="workDays" type="checkbox" bind:group={project.workDays}
                                       on:change={updateProjectDays}
                                       value={i+1 < 7 ? i+1 : 0}>
                            </td>
                        {/each}
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="h-4"></tr>
        <tr>
            <th class="bg-primary-800 text-white text-center border-l-4 border-r-4 border-transparent"
                colspan="2">{$_('foremen')}</th>
        </tr>
        <tr>
            <td colspan="2">
                <table class="w-full">
                    <tr>
                        <th class="bg-primary-800 text-white p-1 border">{$_('name')}</th>
                        <th class="bg-primary-800 text-white p-1 border">{$_('code')}</th>
                        <th class="bg-primary-800 text-white p-1 border">{$_('from')}</th>
                        <th class="bg-primary-800 text-white p-1 border">{$_('to')}</th>
                    </tr>
                    {#each Object.entries(response.foremen) as [i, foreman]}
                        <tr>
                            <td class="border text-left p-1">{foreman.foremanName}</td>
                            <td class="border p-1">{foreman.foremanId}</td>
                            <td class="border p-1">{foreman.foremanResponsibilityStartDate}</td>
                            <td class="border p-1">{foreman.foremanResponsibilityEndDate !== "9999-12-30" ? foreman.foremanResponsibilityEndDate : ''}</td>
                        </tr>
                    {/each}
                </table>
            </td>
        </tr>
        <tr class="h-4"></tr>
        <tr>
            <th class="bg-primary-800 text-white text-center border-l-4 border-r-4 border-transparent"
                colspan="2">{$_('salaryFund')}</th>
        </tr>
        <tr>
            <td colspan="2">
                <table id="salaryFunds" class="w-full">
                    <tr>
                        <th class="bg-primary-800 text-white p-1 border">{$_('from')}</th>
                        <th class="bg-primary-800 text-white p-1 border">{$_('to')}</th>
                        <th class="bg-primary-800 text-white p-1 border">{$_('salaryFund')}</th>
                        <th class="bg-primary-800 text-white p-1 border"></th>
                    </tr>
                    {#if project.salaryFunds}
                        {#each Object.entries(project.salaryFunds) as [i, salaryFund]}
                            <tr>
                                <td class="border">
                                    {salaryFund.startDate === '1899-12' ? $_('monthOptionBeginningOfTime') : salaryFund.startDate}
                                </td>
                                <td class="border">
                                    {salaryFund.endDate === '9999-12' ? $_('monthOptionForever') : salaryFund.endDate}
                                </td>
                                <td class="border">{salaryFund.salaryFund}</td>
                                <td class="border text-center">
                                    {#if project.salaryFunds.length - i <= 1}
                                        <button on:click={removeSalary(i)}>
                                            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                 viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M6 18L18 6M6 6l12 12"/>
                                            </svg>
                                        </button>
                                    {/if}
                                </td>
                            </tr>
                        {/each}
                    {/if}
                    {#if  !(typeof project.salaryFunds[salaryFundLength] !== 'undefined' && project.salaryFunds[salaryFundLength].endDate === '9999-12')}
                        <tr class="selector">

                            <td class="border">
                                <MonthSelector lastSelectedMonth={lastSelectedMonth} selectedMonth={lastSelectedMonth} isEnd={false}
                                               on:select={event => updateProjectSalaryFunds(event, "startDate")}></MonthSelector>
                            </td>
                            <td class="border">
                                <MonthSelector lastSelectedMonth={endLastSelectedMonth} selectedMonth={''} isEnd={true}
                                               on:select={event => updateProjectSalaryFunds(event, "endDate")}></MonthSelector>
                            </td>
                            <td id="salaryFund" class="border"
                                contenteditable="true" on:blur={event => updateProjectSalary(event)}
                                on:keypress={preventNaN}>

                            </td>
                            <td class="border text-center">
                                <button disabled='{!newSalaryFund.startDate || !newSalaryFund.endDate || !newSalaryFund.salaryFund}'
                                        on:click={event => updateSalaryProject()}>
                                    <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none"
                                         viewBox="0 0 24 24"
                                         stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    {/if}
                </table>
            </td>
        </tr>
    {/await}
</table>
