<script>
    import Select from 'svelte-select';
    import {tick} from 'svelte';
    import * as api from '../node_modules/api';
    import {goto, stores} from '@sapper/app';
    import {createEventDispatcher} from 'svelte';
    import {_} from 'svelte-i18n'
    const {page, session} = stores();
    const dispatch = createEventDispatcher();
    let promise = dropdown();

    async function dropdown() {
        return await api.get(`employees`, $session.user && $session.user.token).then(response => {
            return response['employees']
        });
    }
    export let resetOnSelect;
    export let selectedUser;

    async function updateProject() {
        dispatch("select", {
            selectedUser
        })
        await tick();
        if (resetOnSelect){
            selectedUser = undefined
        }
    }

    const optionIdentifier = 'employeeId';
</script>

{#await promise}
    <p class="block mt-4 lg:inline-block text-white lg:mt-0 mr-4">...Loading</p>
{:then employees}
    <Select items={employees}
            {optionIdentifier}
            on:select={()=>updateProject()}
            placeholder={$_('selectEmployee')}
            bind:selectedValue={selectedUser}
                    getSelectionLabel={(option) =>  option.name ? option.name : ''}
                    getOptionLabel={(option) => option.name ? option.name : ''}/>
{:catch error}
    <p style="color: red">{error.message}</p>
{/await}
