<script>
    import {goto, stores} from '@sapper/app';
    import Button from "smelte/src/components/Button";
    import {selectedUserId, selectedUserName, selectedUserEmployeeCode, selectedUserUsername} from '../stores.js';
    import UserSelector from "./UserSelector.svelte";
    import {post} from 'utils.js';
    import {_} from 'svelte-i18n'

    const {page, session} = stores();
    let active;
    let userId;

    async function logout() {
        await post(`../auth/logout`).then(response => {
            $session.user = null;
            selectedUserId.set(null);
            selectedUserName.set(null);
            selectedUserEmployeeCode.set(null);
            selectedUserUsername.set(null);
            goto('/');

        }).catch(error => {
            alert(JSON.parse(error.message).error)
        });
    }
    function selectUser(event) {
        selectedUserId.set(event.detail.selectedUser.userId);
        selectedUserName.set(event.detail.selectedUser.name);
        selectedUserEmployeeCode.set(event.detail.selectedUser.employeeCode);
        selectedUserUsername.set(event.detail.selectedUser.username);
    }
</script>
<style>
    .active {
        text-decoration: underline;
        text-decoration-color: white;
    }
</style>

{#if $session.user}
    <nav class="flex items-center justify-between flex-wrap bg-primary-800 p-6 shadow-md">
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="/" class='text-lg block mt-4 lg:inline-block text-white lg:mt-0 mr-4'
                   class:active="{'/' === active}" on:click="{() => active = '/'}">Intranet</a>


                <a href="/salaries/projects" class='block mt-4 lg:inline-block text-white lg:mt-0 mr-4'
                   class:active="{'/salaries/projects' === active}"
                   on:click="{() => active = '/salaries/projects'}">{$_('salaries')}</a>
                {#if $session.user.isAdmin === "1"}
                    <a href="/projects" class='block mt-4 lg:inline-block text-white lg:mt-0 mr-4'
                       class:active="{'/projects' === active}" on:click="{() => active = '/projects'}">{$_('projects')}</a>
                    <a href="/fixed_assets" class='block mt-4 lg:inline-block text-white lg:mt-0 mr-4'
                       class:active="{'/fixed_assets' === active}" on:click="{() => active = '/fixed_assets'}">{$_('fixedAssets')}</a>
                    <div class='block lg:inline-block lg:mt-0 z-30 mt-4 mr-4 relative lg:w-1/4'>
                        <UserSelector selectedUser={{userId: $selectedUserId, name: $selectedUserName, employeeCode: $selectedUserEmployeeCode, username: $selectedUserUsername}}
                                      on:select={selectUser}/>
                    </div>
                {/if}
            </div>
            <Button on:click={logout} class="block mt-4 lg:inline-block text-white lg:mt-0">{$_('logout')+' '+$session.user.username}</Button>
        </div>
    </nav>
{/if}




