<script>
    import Select from 'svelte-select';
    import * as api from '../node_modules/api';
    import {goto, stores} from '@sapper/app';
    import {createEventDispatcher} from 'svelte';

    const {page, session} = stores();
    const dispatch = createEventDispatcher();
    let promise = dropdown();

    async function dropdown() {
        return await api.get(`users`, $session.user && $session.user.token).then(response => {
            response['users'].unshift({userId: 0, name: "All users", employeeCode: "0"})
            return response['users'];
        });
    }

    export let selectedUser;

    function selectUser() {
        dispatch("select", {
            selectedUser
        })
    }

    const optionIdentifier = 'userId';
</script>

{#await promise}
    <p class="block mt-4 lg:inline-block text-white lg:mt-0 mr-4">...Loading</p>
{:then users}
    <Select items={users}
            {optionIdentifier}
            on:select={()=>selectUser()}
            placeholder="Select user"
            bind:selectedValue={selectedUser}
            getSelectionLabel={(option) => option.name ? option.name+' ('+option.employeeCode+')' : (selectedUser.name ? selectedUser.name+' ('+selectedUser.employeeCode+')' :selectedUser.username)}
            getOptionLabel={(option) => option.name+' ('+option.employeeCode+')'}/>

{:catch error}
    <p style="color: red">{error.message}</p>
{/await}
