<script>
    import {stores, goto} from '@sapper/app';
    import * as api from '../../../node_modules/api';
    import {selectedUserId} from '../../../stores.js';
    import Button from "smelte/src/components/Button";
    import YearSelector from "../../../components/YearSelector.svelte"
    import {Tabs, Tab} from "smelte/src/components/Tabs";
    import {_} from 'svelte-i18n'

    let response;

    const {session, page} = stores();
    let msg = "loading...";
    let salaries = [];
    let projects;
    let locked;
    let userId;
    $: userId = ($selectedUserId === 0 || $selectedUserId) ? $selectedUserId : null;
    let selectedYear = $page.query && $page.query.year ? $page.query.year : new Date().getFullYear();
    let months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
    let monthTotals = {};
    let errormsg = null;
    $: if (userId && selectedYear) {
        requestSalaryProjects(selectedYear, userId)
    }

    function requestSalaryProjects() {
        msg = "loading...";
        api.get(`salaries/projects?year=${selectedYear}&user_id=${userId}`, $session.user && $session.user.token).then(response => {
            if (response['projects'].length === 0 && response['employees'].length === 0) {
                throw new Error(JSON.stringify({error: 'No projects found'}))
            }
            errormsg = null
            locked = response.locked
            projects = response.projects
            return response
        }).catch(error => {
            errormsg = (JSON.parse(error.message).error)
        });
    }

    function addTimesheet(projectId, month, year, salaryFund) {
        api.post(`salaries/projects/timesheet/create`, {
            project_id: projectId,
            salary_fund: salaryFund,
            month,
            year,
        }, $session.user && $session.user.token).then(response => {
            goto(`salaries/timesheets/${response.timesheetId}`)
        }).catch(error => {
            alert($_(JSON.parse(error.message).error));
            throw new Error(error)
        });
    }

    function lockSalaries(month, year, isLocked) {
        if ($session.user.isAdmin === "1") {
            api.post(`salaries/projects/close`, {
                month,
                year,
                isLocked
            }, $session.user && $session.user.token).then(response => {
                locked[month] = !isLocked;
                locked = locked
                projects = projects
            });
        } else {
            alert($_('Forbidden'))
        }
    }

    let employeesText = $_('employees')
    let projectsText = $_('projects')
    $: path = $page.path;
</script>
<script context="module">
    export function preload(page, {user}) {
        if (!user) {
            this.redirect(302, `/login`);
        }
    }
</script>
<svelte:head>
    <title>Salaries projects | Intranet</title>
</svelte:head>
<style>
    td, th {
        font-size: 11px;
    }

    div {
        z-index: 0 !important;
    }

    .yellow {
        color: #efd133
    }

    .tooltip .tooltip-text {
        visibility: hidden;
        text-align: center;
        padding: 2px 6px;
        position: absolute;
        z-index: 100;
    }

    .tooltip:hover .tooltip-text {
        visibility: visible;
    }

    .tooltip svg {
        margin-left: 2px;
    }
</style>
<YearSelector onYearSelect={function(year){
    selectedYear = year ? year : new Date().getFullYear();
    goto('salaries/projects?year='+selectedYear);
}}/>
<br>
{#if errormsg}
    <p style="color: red">{errormsg}</p>
{:else}
    <Tabs class="bg-primary-800 w-auto text-white" selected="1" let:selected={selected}
          items={[{id:"1", text:projectsText, to:'/salaries/projects'},{id:"2", text:employeesText, to:'/salaries/employees'}]}>
        <div slot="content">
            <Tab id="1" href="/salaries/projects" {selected}>
                <table class="text-left no-wrap">
                    {#if typeof locked != 'undefined'}
                        <thead class="bg-primary-800 text-white">
                        <tr>
                            <th class="border p-1" colspan="2"></th>
                            {#each months as month}
                                {#if locked[month]}
                                    <th class="border p-1" on:click={lockSalaries(month, selectedYear, true)}>
                                        <svg class="w-4 h-4 yellow" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 20 20"
                                             fill="currentColor">
                                            <path fill-rule="evenodd"
                                                  d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </th>
                                {:else}
                                    <th class="border p-1" on:click={lockSalaries(month, selectedYear, false)}>
                                        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                             fill="currentColor">
                                            <path d="M10 2a5 5 0 00-5 5v2a2 2 0 00-2 2v5a2 2 0 002 2h10a2 2 0 002-2v-5a2 2 0 00-2-2H7V7a3 3 0 015.905-.75 1 1 0 001.937-.5A5.002 5.002 0 0010 2z"/>
                                        </svg>
                                    </th>
                                {/if}
                            {/each}
                        </tr>
                        </thead>
                    {/if}
                    <thead class="bg-primary-800 text-white">
                    <tr>
                        <th class="p-1 border">{$_('project')}</th>
                        <th class="p-1 border">{$_('foremanName')}</th>
                        <th class="border p-1">{$_('months.Jan')}</th>
                        <th class="border p-1">{$_('months.Feb')}</th>
                        <th class="border p-1">{$_('months.Mar')}</th>
                        <th class="border p-1">{$_('months.Apr')}</th>
                        <th class="border p-1">{$_('months.May')}</th>
                        <th class="border p-1">{$_('months.Jun')}</th>
                        <th class="border p-1">{$_('months.Jul')}</th>
                        <th class="border p-1">{$_('months.Aug')}</th>
                        <th class="border p-1">{$_('months.Sep')}</th>
                        <th class="border p-1">{$_('months.Oct')}</th>
                        <th class="border p-1">{$_('months.Nov')}</th>
                        <th class="border p-1">{$_('months.Dec')}</th>
                    </tr>
                    </thead>

                    {#if typeof projects != 'undefined'}
                        {#each Object.entries(projects) as [projectId, project]}
                            <tr id="main" class="">
                                <td class="p-1 border text-primary-800"><a
                                        href="salaries/projects/{projectId}/edit">{project.projectName}
                                    ({project.projectCode})</a>
                                </td>
                                <td class="p-1 border">{project.foremanName} ({project.foremanCode})</td>
                                {#each months as month}
                                    <td class="p-1 border">
                                        {#if typeof project.months[month] !== "undefined"}
                                            <a href={(locked[month] && $session.user.isAdmin !== "1") ? void(0) : 'salaries/timesheets/'+project.months[month].timesheetId}
                                               class="tooltip {project.months[month]['salaryFundSpent'] === 2 ? 'text-error-800' :
                                                        (project.months[month]['salaryFundSpent'] === 1 ? 'text-success-800' : 'text-alert-800')}">
                                                {#if project.months[month]['salaryFundSpent'] === 2 }
                                                    <span class='tooltip-text bg-white p-3 -mt-6 -ml-6 rounded'>{$_('Over salary fund')}</span>
                                                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd"
                                                              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                                              clip-rule="evenodd"/>
                                                    </svg>
                                                {:else if project.months[month]['salaryFundSpent'] === 1}
                                                    <span class='tooltip-text bg-white p-3 -mt-6 -ml-6 rounded'>{$_('Completed')}</span>
                                                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd"
                                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                                              clip-rule="evenodd"/>
                                                    </svg>
                                                {:else}
                                                    <span class='tooltip-text bg-white p-3 -mt-6 -ml-6 rounded'>{$_('Unfinished')}</span>
                                                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                         viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                              stroke-width="2"
                                                              d="M8 12h.01M12 12h.01M16 12h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                                    </svg>
                                                {/if}
                                            </a>
                                        {:else if locked[month]}

                                        {:else}
                                            <button on:click={()=>addTimesheet(projectId,month,selectedYear)}
                                                    class="text-gray-400 italic">
                                                {$_('create')}
                                            </button>
                                        {/if}
                                    </td>
                                {/each}
                            </tr>
                        {/each}
                    {/if}

                </table>
            </Tab>
            <Tab id="2" href="/salaries/employees" {selected}>
            </Tab>
        </div>
    </Tabs>
{/if}