<script context="module">
    export function preload(page, {user}) {
        if (user) {
            this.redirect(302, '/');
        }
    }
</script>

<script>
    import Button from "smelte/src/components/Button";
    import TextField from "smelte/src/components/TextField"
    import {goto, stores} from '@sapper/app';
    import {post} from 'utils.js';
    import * as api from "../../node_modules/api";
    import {selectedUserId, selectedUserName, selectedUserEmployeeCode,selectedUserUsername} from '../../stores.js';
    import {_} from 'svelte-i18n'

    const {session} = stores();

    let name = '';
    let password = '';
    let error = null;

    async function submit() {
        try {
            await post(`auth/login`, {"username": name, "password": password}).then(response => {
                if (response.error || typeof response.user === 'undefined') {
                    throw new Error(JSON.stringify(response));
                }
                $session.user = response.user;
                selectedUserId.set($session.user.userId == 1 ? "0" : $session.user.userId);
                selectedUserName.set($session.user.userId == 1 ? "All users" : $session.user.name);
                selectedUserEmployeeCode.set($session.user.userId == 1 ? "0" : $session.user.employeeCode);
                selectedUserUsername.set($session.user.userId == 1 ? "All users" : $session.user.username);
                goto('/');

            });
        } catch (error) {
            api.handleError(error.message)
        }
    }
</script>

<style>
    .auth-page {
        margin-top: 200px;
    }

    form {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


</style>
<svelte:head>
    <title>Sign in • Intranet</title>
</svelte:head>
<div class="auth-page">
    <div>
        <form action="" on:submit|preventDefault={submit}>
            <TextField bind:value={name} label={$_('username')}/>
            <TextField type="password" bind:value={password} label={$_('password')}/>
            <div class="py-2">
                <Button type=submit disabled='{!name || !password}'>{$_('submit')}</Button>
            </div>
        </form>
        {#if error}
            <span class="text-error-800"></span>
            <span class="text-error-800">{error}</span>
        {:else}
            <span></span>
        {/if}
    </div>
</div>